form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;

  .form-input, button {
    width: 290px;
    height: 35px;
    margin-top: 15px;
    font-family: "Courier New", Courier, monospace;
  }
  .form-input {
    border: solid 1px $red;
    color: $red;
    padding: 16px 8px 16px 8px;
  }
  button {
    background-color: $red;
    color:white;
    font-size: 14px;
    text-align: center;
  }
  .form-help-text {
    font-size: 12px;
    font-family: verdana, sans-serif;
    text-align: center;
    margin-top: 22px;
    color: $red;
  }
}
