@import 'reset';
@import 'themeColors';
@import 'mixins';
@import 'main';
@import 'navbar';
@import 'post';
@import 'form';
@import 'signup';

$theme-font: verdana, sans-serif;

body {
	@include pad-horizontal(20px);
	font: $theme-font;
	color: $red;
	background-color: $themeColor-Light;

	.underline {
		text-decoration: underline;
	}
}
