@import 'themeColors';
@import 'navbar';
@import 'post';
@import 'mixins';

$theme-font:    verdana, sans-serif;

body {
	@include pad-horizontal(20px);
	font: $theme-font;
	background-color: $themeColor-Light;
	h1, h2 {
		color: $themeColor-Dark
	}
}