.nav-bar-container {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.header {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 32px;
	display: inline-block;
}