@import 'mixins';

.post-container {
	margin-top: 10px;
	margin-bottom: 10px;

	img {
		width: 375;
		height: auto;
	}
}

.comments-container {
	width: 100%;
	border-top: 1px solid #aaa;
	@include pad-vertical(10px);
	margin-top: 10px;
}

.comment {
	width: 100%;
	overflow-wrap: break-word;
}

.more-comments-btn {
	font-family: courier;
	text-align: center;
	font-size: 10px;
	color: #888;
	@include pad-vertical(5px);
	.text {
		cursor: pointer;
	}
}

.post-author {
	font-family: courier;
	font-weight: bold;
	@include pad-vertical(10px);
}
